
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Classic Login Form Example</title>
    <link href="https://fonts.googleapis.com/css?family=Assistant:400,700" rel="stylesheet">
</head>
<body>
    <!-- partial:index.partial.html -->
    <section class='login' id='login'>
        <div class='head'>
            <h1 class='company'>Đăng Ký Tài Khoản</h1>
        </div>
        <div class='form'>
            <form>
                <input type="text" placeholder='Tên Tài Khoản' class='text' id='username' required><br>
                <input type="password" placeholder='Mật Khẩu' class='password'><br>
                <input style="margin-top:0px" type="password" placeholder='Nhập Lại Mật Khẩu' class='repassword'><br>
                <label for="birthday" class="gender">Ngày Sinh:</label>
                <input type="date" id="date" class="gender">
                <input type="text" placeholder='Password' class='email'><br>
                <select name="cars" id="cars" class="gender">
                    <option value="volvo">Nam</option>
                    <option value="saab">Nữ</option>
                </select>
                <br>
                <a href="./Login.html" class='btn-login' id='do-login'>Đăng Ký</a>
                <a href="#" class='forgot'>Quên Mật Khẩu?</a>
            </form>
        </div>
    </section>

</body>
</html>