 <br><br>
 <br><br>
 <br><br>

 <div>
        <div class="title">
            <h1>THÔNG TIN HÀNH CHÍNH</h1>
        </div>
        <!--Thông tin hành chính title--------------------------->
        <div class="section-1-tthc">
            <div class="section-1-hangngang">
                <div class="hinh-1">
                    <div class="hinh-1-1">
                        <img src="assets/img/lamthutuc.png" alt="">
                    </div>
                    <div class="hinh-1-duoi">
                        <div class="tieu-de-hinh"><p>LÀM THỦ TỤC</p></div>
                        <div class="nut-quay-ve"><button><img src="assets/img/Vector (2).png" alt=""></button></div>
                    </div>
                </div>
                <!--làm thủ tục--------------------------->
                <div class="hinh-2">
                    <div class="hinh-1-1">
                        <img src="assets/img/thongtinquanly.png" alt="">
                    </div>
                    <div class="hinh-1-duoi">
                        <div class="tieu-de-hinh"><p>THÔNG TIN HÀNH LÝ</p></div>
                        <div class="nut-quay-ve"><button><img src="assets/img/Vector (2).png" alt=""></button></div>
                    </div>   
                </div>
                <!--thông tin hành lý-->
            </div>

            <div class="section-1-hangngang">
                <div class="hinh-1">
                    <div class="hinh-1-1">
                        <img src="assets/img/dichvudacbiet.png" alt="">
                    </div>
                    <div class="hinh-1-duoi">
                        <div class="tieu-de-hinh"><p>DỊCH VỤ ĐẶC BIỆT</p></div>
                        <div class="nut-quay-ve"><button><img src="assets/img/Vector (2).png" alt=""></button></div>
                    </div>
                </div>
                <!--dịch vụ đặc biệt-->
                <div class="hinh-2">
                    <div class="hinh-1-1">
                        <img src="assets/img/sanbayvanoichuyen.png" alt="">
                    </div>
                    <div class="hinh-1-duoi">
                        <div class="tieu-de-hinh"><p>SÂN BAY NỐI CHUYẾN</p></div>
                        <div class="nut-quay-ve"><button><img src="assets/img/Vector (2).png" alt=""></button></div>
                    </div>   
                </div>
                <!--sân bay nối chuyến-->
            </div>

            <div class="section-1-hangngang">
                <div class="hinh-1">
                    <div class="hinh-1-1">
                        <img src="assets/img/yeucaugiayto.png" alt="">
                    </div>
                    <div class="hinh-1-duoi">
                        <div class="tieu-de-hinh"><p>YÊU CẦU GIẤY TỜ</p></div>
                        <div class="nut-quay-ve"><button><img src="assets/img/Vector (2).png" alt=""></button></div>
                    </div>
                </div>
                <!--yêu cầu giấy tờ-->
            </div>

            
        </div>
    </div>