
<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(assets/images/z4781305715851_5b9f23c7884b8daf614915b5ba20f585.jpg)">
    <div class="overlay"></div>
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0 text-center">
                <div class="row row-mt-15em">

                    <div class="col-md-12 mt-text animate-box" data-animate-effect="fadeInUp">
                        <h1>Thông Tin Hành Trình</h1>	
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
</header>
  <div class="section trending">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2 style="text-align: center">Show Times</h2>
          </div>
        </div>
  
        <!-- Date -->
        <div class="col-lg-12">
          <div
            style="margin-bottom: 20px"
            class="btn-group"
            role="group"
            aria-label="Basic radio toggle button group"
          >
            <input
           
              value="{{ date1 | date : 'fullDate' }}"
              type="radio"
              class="btn-check"
              name="btnradio"
              id="btnradio1"
              autocomplete="off"
              checked
            />
            <label
              class="btn btn-outline-primary"
              style="font-size: 15px"
              for="btnradio1"
              >{{ date1 | date : "fullDate" }}</label
            >
  
            <input
           
              value="{{ date2 | date : 'fullDate' }}"
              type="radio"
              class="btn-check"
              name="btnradio"
              id="btnradio2"
              autocomplete="off"
            />
            <label
              class="btn btn-outline-primary"
              style="font-size: 15px"
              for="btnradio2"
              >{{ date2 | date : "fullDate" }}</label
            >
  
            <input
            
              value="{{ date3 | date : 'fullDate' }}"
              type="radio"
              class="btn-check"
              name="btnradio"
              id="btnradio3"
              autocomplete="off"
            />
            <label
              class="btn btn-outline-primary"
              style="font-size: 15px"
              for="btnradio3"
              >{{ date3 | date : "fullDate" }}</label
            >
  
            <input
             
              value="{{ date4 | date : 'fullDate' }}"
              type="radio"
              class="btn-check"
              name="btnradio"
              id="btnradio4"
            />
            <label
              class="btn btn-outline-primary"
              style="font-size: 15px"
              for="btnradio4"
              >{{ date4 | date : "fullDate" }}</label
            >
  
            <input
             
              value="{{ date5 | date : 'fullDate' }}"
              type="radio"
              class="btn-check"
              name="btnradio"
              id="btnradio5"
              autocomplete="off"
            />
            <label
              class="btn btn-outline-primary"
              style="font-size: 15px"
              for="btnradio5"
              >{{ date5 | date : "fullDate" }}</label
            >
  
            <input
        
              value="{{ date6 | date : 'fullDate' }}"
              type="radio"
              class="btn-check"
              name="btnradio"
              id="btnradio6"
              autocomplete="off"
            />
            <label
              class="btn btn-outline-primary"
              style="font-size: 15px"
              for="btnradio6"
              >{{ date6 | date : "fullDate" }}</label
            >
  
            <input
           
              value="{{ date7 | date : 'fullDate' }}"
              type="radio"
              class="btn-check"
              name="btnradio"
              id="btnradio7"
              autocomplete="off"
            />
            <label
              class="btn btn-outline-primary"
              style="font-size: 15px"
              for="btnradio7"
              >{{ date7 | date : "fullDate" }}</label
            >
          </div>
        </div>
  