
<div class="gtco-loader"></div>
	
	<div id="page">

	
	<!-- <div class="page-inner"> -->
	<nav class="gtco-nav" role="navigation">
		<div class="gtco-container">
			
			<div class="row">
				<div class="col-sm-4 col-xs-12">
					<div id="gtco-logo"><a href="index.html">SKYHIGH <em>.</em></a></div>
				</div>
				<div class="col-xs-8 text-right menu-1">
					<ul>
						<li><a [routerLink]="['/thongtinhanhchinh']">Thông Tin Hành Trình</a></li>
						<li class="has-dropdown">
							<a href="#">Đặt Vé</a>
							<!-- <ul class="dropdown">
								<li><a href="#">Europe</a></li>
								<li><a href="#">Asia</a></li>
								<li><a href="#">America</a></li>
								<li><a href="#">Canada</a></li>
							</ul> -->
						</li>
						<li><a [routerLink]="['/lienhe']">Liên hệ</a></li>
						<li class="has-dropdown">
							<a href="#">Tài Khoản</a>
							<ul class="dropdown">
								<li><a [routerLink]="['/dangnhap']">Đăng nhập</a></li>
								<li><a [routerLink]="['/dangky']">Đăng ký</a></li>
								<li><a href="#">Trợ giúp</a></li>
						
							</ul>
						</li>
					</ul>	
				</div>
			</div>
			
		</div>
	</nav>
<router-outlet></router-outlet>


<div class="gototop js-top">
	<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>
        

    
      

