
<div class="tm-top-bar-bg"></div> 
<div class="tm-top-bar" id="tm-top-bar">

    <div class="container">
        <div class="row">
            <nav class="navbar navbar-expand-lg narbar-light">
                <a class="navbar-brand mr-auto" href="#">
                    <img src="assets/img/z4776623931203_8d1fe3e3e31bfb8c01832dae8314869a.jpg" alt="Site logo">
                    SkyHigh
                </a>
                <button type="button" id="nav-toggle" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#mainNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="mainNav" class="collapse navbar-collapse tm-bg-white">
                    <ul class="navbar-nav ml-auto">
                      <li class="nav-item">
                        <a class="nav-link"  [routerLink]="['/trangchu']" >Trang chủ <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/thongtinhanhchinh']">Thông tin hành chính</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tm-section-3">Đặt vé</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tm-section-4">Liên hệ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tm-section-4">Đăng ký</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tm-section-4">Đăng nhập</a>
                    </li>
                </ul>
            </div>                            
        </nav>
    </div> <!-- row -->
</div> <!-- container -->
</div> <!-- .tm-top-bar -->
<router-outlet></router-outlet>
<br><br>
<footer class="tm-container-outer">
    <p class="mb-0">Copyright © <span class="tm-current-year">2018</span> Your Company 
        
    . Designed by <a rel="nofollow" href="http://www.google.com/+templatemo" target="_parent">Template Mo</a></p>
</footer>
        

    
      

