<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(assets/images/hinh-anh-may-bay.jpg)">
    <div class="overlay"></div>
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0 text-center">
                <div class="row row-mt-15em">

                    <div class="col-md-12 mt-text animate-box" data-animate-effect="fadeInUp">
                        <h1>Thông Tin Chuyến Bay</h1>	
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="left">
        <form>
            <div>
                <h2 align="center" style="margin-top: 5px; color: white;">THÔNG TIN CƠ BẢN</h2>
                <div class="ThongTinCoBan">
                    <div class="flex">
                        <div class="label-text"><label>Họ và Tên</label></div>
                        <div class="input-thongtin"><input type="text" placeholder="Nhập tên..."></div>
                    </div>  
                    <div class="flex">
                        <div class="label-text"><label for="ngaysinh">Ngày sinh</label></div>
                        <div class="input-thongtin"> <input type="date" id="ngaysinh" value="Chọn ngày sinh..."></div>
                    </div>
                    <div class="flex">
                        <div class="label-text"><label for="">Số điện thoại</label></div>
                        <div class="input-thongtin"><input type="text" placeholder="Nhập số điện thoại..."></div>
                    </div>
                    <div class="flex">
                        <div class="label-text"><label for="">Email</label></div>
                        <div class="input-thongtin"><input type="text" placeholder="Nhập Email..."></div>
                    </div>
                    <div class="flex">
                        <div class="label-text"><label for="">Hạng ghế</label></div>
                        <div class="input-thongtin">
                            <select name="" id="" class="selection-width">
                                <option value="">Thương gia</option>
                                <option value="">Phổ thông</option>
                            </select>
                        </div>
                    </div>
                    <div class="btn-thanhtoan btn-thanhtoan-1"><button><p>Xác nhận</p></button></div>
                </div>
            </div>
        </form>
    </div>
    <div class="right" style="flex: 0.5">
       
        <form  method="get" >
            <ng-container *ngFor="let thongtinchuyenbay of thongtinchuyenbays">
            <h3>CHI TIẾT CHUYẾN BAY</h3>
            <div class="content-thongtinchuyenbay">
                <div class="thong-tin-chuyen-bay center-item">
                  
                    <div class="thong-tin-cat-canh">
                        <div class="thong-tin-thoi-gian">
                            <div class="cachdong"><h3>Giờ đi</h3></div>
                            <div class="center-text bold"><h4>{{this.thongtinchuyenbay.gioCatCanh}}</h4></div>
                        </div>
                        <div class="thong-tin-dia-chi">
                            <div><h3>Địa điểm</h3></div>
                            <!-- <div class="center-text bold" ><h4>{{thongtinchuyenbay.maSbayDi}}</h4></div> -->
                            <div class="center-text bold"><h4>{{thongtinchuyenbay.tenTinhThanhSanBayDi}}</h4></div>
                        </div>
                    </div>
                    <div class="icon-may-bay center-item"><img src="assets/images/icon-may-bay.png" alt=""></div>
                    <div class="thong-tin-ha-canh">
                        <div>
                            <div class="cachdong"><h3>Giờ đến</h3></div>
                            <div class="center-text bold"><h4>{{thongtinchuyenbay.gioHaCanh}}</h4></div>
                        </div>
                        <div>
                            <div><h3>Địa Điểm</h3></div>
                            <!-- <div class="center-text bold"><h4>{{thongtinchuyenbay.maSbayDen}}</h4></div> -->
                            <div class="center-text bold"><h4>{{thongtinchuyenbay.tenTinhThanhSanBayDen}}</h4></div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div style="border: solid; border-width: thin">
                <div style="padding:10px">
                    <label>Dịch vụ bổ trợ</label>
                </div>
            </div>
            <div style="border:solid;border-width:thin">
                <div style="padding:10px">
                    <label>Thuế và các khoản thu:</label>
                    <label style="float:right">{{thongtinchuyenbay.giaGheLoai1}}</label>
                </div>
            </div>
            <div style="border:solid;border-width:thin">
                <div style="padding:10px">
                    <label style="font-size:18px">Tổng số tiền:</label>
                    <label style="float:right">{{thongtinchuyenbay.giaGheLoai1}}</label>
                </div>
            </div>
            <div class="flex combo-submit">
                <div class="btn-quayve"><a href=""><div class="btn-submit-quayve center-text-1"><p>Quay về</p></div></a></div>
                <div class="btn-thanhtoan"><a href=""><div class="btn-submit-thanhtoan center-text-1"><p>Thanh toán</p></div></a></div>
            </div>
        </ng-container>
        </form>

    </div>

</div>  
